h1 {
    color: green;
}

table {
    width: 90%;
}

td {
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
}

button {
    font-size: 1.5rem;
    border-radius: .5rem;
    border: none;
    color: #fff;
    padding: .8rem;
    min-width: 10rem;
}

.text-left {
    text-align: left;
}

.red-button {
    background-color: #ff4f4f;
}

.gren-button {
    background-color: #2ca732;
}

.blue-button {
    background-color: #097cff;
}

/* Code from previous project */
tr:nth-child(odd) {
    background-color: #eee;
  }
  
tr:nth-child(even) {
    background-color: #fff;
}

input[type="checkbox"]{
    width: 25px;
    height: 25px;
  }