body {
    padding: 1rem;
}

h1 {
    color: green;
    font-size: 3rem;
}

table {
    width: 100%;
}

td {
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
}

/* Code from previous project */
tr:nth-child(odd) {
    background-color: #eee;
  }
  
tr:nth-child(even) {
    background-color: #fff;
}
/* End code */

button {
    font-size: 1.5rem;
    border-radius: .5rem;
    border: none;
    color: #fff;
    padding: .8rem;
    min-width: 10rem;
}

input {
    font-size: 1.5rem;
    padding: .5rem;
}

input[type="checkbox"]{
    width: 25px;
    height: 25px;
  }

.text-left {
    text-align: left;
}

.text-faded {
    color: gray;
    font-style: italic;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-4 {
    margin-bottom: 4rem;
}

.mx-1 {
    margin-left: 1rem;
    margin-right: 2rem;
}

.btn-red {
    background-color: #ff4f4f;
}

.btn-green {
    background-color: #2ca732;
}

.btn-blue {
    background-color: #097cff;
}

.btn-grey {
    background-color: #8d8d8d;
}

.align-right {
    float: right;
}

.w-100 {
    width: 100%;
}

.hide {
    display: none;
}

.link {
    text-decoration: underline;
    color: #6eb2ff;
    font-style: italic;
}

#change-title-link {
    width: 15%;
}

#empty-list {
    background-color: #eee;
    display: hidden;
    width: 100%;
    text-align: center;
  }